{%extends "blog/base_2.html"%}
{%load crispy_forms_tags%}
{%block content%}
<div class="content-section d-flex justify-content-center">
  <div class="card" style="width: 30rem; padding: 2rem; margin-top: 2rem;">
    <form method="POST">
      {%csrf_token%}
      <fieldset class ="form-group">
        <legend class="border-bottom mb-4">Reset Password</legend>
        {{form|crispy}}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Request Password Reset</button>
      </div>
    </form>

  </div>
</div>
{%endblock content%}